@font-face {
  font-family: "THSarabunNew";
  src: url(/public//assets/fonts/THSarabunNew.ttf);
  /* font-weight: 500; */
}

body {
  font-family: "THSarabunNew";
  min-height: 100vh;
}

.a4 {
  width: 595px;
  height: 842px;
  padding: 10px 25px;
  margin: 20px auto;
}

.wrapper-class {
  min-height: 300px;
}

.presentation-text {
  color: #ffffff;
  background: linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagination {
  list-style: none;
  display: flex;
}

.pagination > .page-item > .page-link {
  border: 0.5px solid #06538f;
  color: gray;
  background: inherit;
  border: none;
  margin: 5px;
  text-decoration: none;
}

.active > a {
  color: black !important;
  font-weight: bold !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input[type="file"] {
  display: none;
}
