.presentation-text {
  color: #ffffff;
  background: linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagination {
  list-style: none;
  display: flex;
}

.pagination > .page-item > .page-link {
  border: 0.5px solid #06538f;
  color: gray;
  background: inherit;
  border: none;
  margin: 5px;
  text-decoration: none;
}

.active > a {
  color: black !important;
  font-weight: bold !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
